@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

:root {
  /* fonts */
  --single-line-body-base: Inter;
  --font-mouse-memoirs: "Mouse Memoirs";

  /* font sizes */
  --single-line-body-base-size: 16px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;

  /* Colors */
  --background-default-default: #fff;
  --color-mediumorchid-100: #9e4ec0;
  --color-mediumorchid-200: rgba(158, 78, 192, 0.8);
  --color-darkslategray: #413d3d;
  --color-black: #000;
  --text-default-secondary: #757575;
  --text-default-default: #1e1e1e;
  --border-default-default: #d9d9d9;

  /* Spacing */
  --space-300: 12px;
  --space-400: 16px;
  --radius-200: 8px;

  /* Gaps */
  --gap-70xl: 89px;
  --gap-25xl: 44px;
  --gap-3xl: 22px;
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-xs: 12px;
  --gap-smi: 13px;

  /* Paddings */
  --padding-4xs: 9px;
  --padding-38xl: 57px;
  /* (Add the rest of your padding variables here) */
}
